:root {
    --text-color:#f0f4f5;
    --background-color:#46C2CB;
    --accent-color:#f0f4f5;
}


/* menubar */ 
body{
    margin: 0;
    font-family: 'Source sans pro';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #46C2CB;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i {
    color: white;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: lightblue;
    border-radius: 4px;
}


.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px;
}

.navbar__toggle{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}