.tableDetail{
    display: block; 
    margin: 0px auto; 
    width: 600px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tableDetail h1{
    font-weight: bold;
    margin-top: 10px;
}

.tableDetail h3{
    font-weight: bold;
}

.tableDetail h4{
    font-weight: bold;

}

.tableDetail p{
    font-size: 15.5px;
}

.tableDetail button{
    background-color:crimson;
    color: white;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.topC{
    cursor:pointer; 
    border: 1px; 
    background-color: #46C2CB; 
    color: aliceblue; 
    width: 60px; 
    height: 20px; 
    align-items: flex-end;
    border-radius: 5px;
    text-align: center;
    display: block; 
    margin: 0px auto; 
}



